
/* .task-list {
  list-style: none;
  align: center;
  padding: 14px 18px;
  font-size: 16px;
  margin: 50px;
  justify-content: center;
} */

.task-input{
    list-style: none;
  padding: 14px 24px;
  font-size: 16px;
  margin: 50px !important;
  align: center;
  justify-content: center;
  border-radius: 12px;

}
.button{
    background-color:rgb(68, 42, 164);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 2 3px 12px rgb(75, 75, 157);

}
.task-input:hover {
  box-shadow: 0 4px 2px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}
.button:hover{
    box-shadow : 2px 3px rgb(94, 94, 187);
}
.task-input-container{
    max-width: 800px;

}